 *{
     padding:0;
     margin:0;
     box-sizing: border-box;
     font-family: 'Gwendolyn', cursive;

 }
 body {
     /* display:flex;
     width:100%;
     height:100vh;
     justify-content: center;
     align-items: center; */
     background-color: rgb(88, 84, 84);
 }
 .up-wizard {
     width:100%;
     height:250px;
     display:flex;
    justify-content: center;
     text-align: center;
     padding:1em;
  
    }
    button {
        position:absolute;
        width:150px;
        border-radius:10px;
        top:45%;
        left:50%;
        transform:translate(-50%,50%);
        font-size:30px;
        letter-spacing: 2px;
        
    }
    .color-mag-white{
        display:flex;
        justify-content: center;
        align-items: center;
        width:190px;
        height:190px;
        border-radius: 150px;
        border:3px solid white;
        transition:0.4s ease-in-out;

    }
    .color-mag-white.active{
        border:5px solid white;
        box-shadow: 1px 1px 50px white;
    }
    .color-mag-white img {
        width:200px;
       
    }
 .centerX{
     display:flex;
     width:100%;
     height:380px;
     justify-content: space-around;
     align-items:center;
     padding:2em;
     font-size:40px;
}
.color-mag-black{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    width:190px;
    height:190px;
    border-radius: 150px;
    border:3px solid black;

}

.color-mag-black img {
    width:350px;
   position:absolute;
   top:50%;
   left:64.3%;
   transform:translate(-50%,-50%);
  
    
}
.color-mag-blue{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    width:190px;
    height:190px;
    border-radius: 150px;
    border:3px solid #5EA3C8;;
}
.color-mag-blue img {
    width:300px;
    position:absolute;
    top:50%;
   left:64.3%;
   transform:translate(-50%,-50%);
   

}
 .down-wizard {
    display:flex;
    justify-content: center;
    align-items: end;
    width:100%;
    height:250px;
  
    
    font-size:40px;
}
.color-mag-green{
    display:flex;
    justify-content: center;
    align-items: center;
    width:190px;
    height:190px;
    border-radius: 150px;
    border:3px solid green;

}
.color-mag-green img {
    width:200px;
    transform:rotate(180deg)

}

 .root {
    width:200px;
    min-width: 290px;
    height:420px;
    overflow: hidden; 
    }
 ul 
 {
     display:flex;
     text-align: center;
     
 }

 /* SUPER GRID */
 /*ul {
    display: grid;
    gap:1em;
    grid-auto-rows:22rem;
    /* CON DENSE LO QUE HACEMOS ES QUE RELLENA ESPACIOS EN BLANCO*/
   /* grid-auto-flow:dense;

    /* grid-template-columns: repeat(auto-fit,minmax(15rem,1fr)); */ /* TE ESTIRA LA IMAGEN Y OCUPA TODO EL LAYOUT*/
    /*CON MIN(100%,25REM) TE VA A COGER DE DOS VALORES EL MAS PEQUEÑO*/
    /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem) ,1fr)); */

   /* text-align: center;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    padding: 10px;
} */


ul li {
        transition:1s ease-in-out;
        list-style: none;
        cursor:pointer;
        margin:10px;
        
    }
     

   

    ul li p {
    font-size:25px;
    font-weight:bolder;
    margin-bottom:10px;
    }

.cards.dragging{
  
    opacity:0.5;
}
.container-white div .ajuste,
 .container-blue div .ajuste,
 .container-black div .ajuste {
    display:block;
    border:none;
    list-style:none;
    margin:0;

}
.entrar {
    position:relative;top:5px;left:0.5px;
  
        width:50px;
        height:65px
}

.texto {
    display:none;
}
    /* REPOSITORIOS CARTAS */

    .container-white div{
        margin:5px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:60px;
        height:75px; 
        border:2px solid white;
        margin-left:15px;
        overflow:hidden;
    }
.container-blue{
    width:250px;
    height:100px;

    display:flex;
    align-items: center;
    position:relative;
    left:-20px;
}
    .container-blue div{
        margin:5px;
        width:60px;
        height:75px; 
        border:2px solid #5EA3C8;
        margin-left:15px;
        overflow:hidden;
    }
    .container-black{
        width:250px;
        height:100px;
    
        display:flex;
        align-items: center;
        position:relative;
        left:-20px;
    }
        .container-black div{
            margin:5px;
            width:60px;
            height:75px; 
            border:2px solid black;
            margin-left:15px;
            overflow:hidden;
        }